<nav class="tab-bar">
    <section class="left-small">
        <a ng-click="cancel()">
            <i class="icon-arrow-left3 icon-back"></i>
            <span class="text-back" translate>Back</span>
        </a>
    </section>
    <section class="middle tab-bar-section">
        <h1 class="title ellipsis" ng-style="{'color':color}" translate>
            Asset
        </h1>
    </section>
</nav>

<div class="modal-content">
    <div class="header-modal text-center">
        <div class="size-42">
            {{ asset.metadata.assetName }}
        </div>
        <div class="size-18 m5t text-gray">
            {{ asset.metadata.description }}
        </div>
    </div>

    <div>
        <div class="text-center m20t">
            <button class="button outline round light-gray tiny" ng-click="openTransferModal(asset)">
                <span class="text-primary" translate>Transfer</span>
            </button>
        </div>
    </div>


    <h4 class="title m0" translate>Details</h4>
    <ul class="no-bullet size-14 m0">
        <li class="line-b p10 oh">
            <span class="text-gray" translate>Asset Name</span>:
            <span class="right">
              <time>{{ asset.metadata.assetName }}</time>
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray" translate>Asset ID</span>:
            <span class="right">
              <time>{{ asset.metadata.assetId }}</time>
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray" translate>Quantity</span>:
            <span class="right">
              <time>{{ asset.asset.amount }}</time>
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray" translate>Issuer</span>:
            <span class="right">
              {{ asset.metadata.issuer }}
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray" translate>Description</span>:
            <span class="right">
              {{ asset.metadata.description }}
            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray" translate>Date</span>:
            <span class="right">

            </span>
        </li>
        <li class="line-b p10 oh">
            <span class="text-gray" translate>Issuance TX</span>:
            <span class="right">
              {{ asset.issuanceTxid }}
            </span>
        </li>

        <li class="line-b p10 oh">
            <span class="text-gray" translate>Raw metadata</span>:
            <pre class="right" ng-bind-html="asset.metadata | stringify"></pre>
        </li>
    </ul>

    <div class="extra-margin-bottom"></div>
</div>