<div ng-show="assets.assets" class="scroll" ng-controller="assetsController as assets">
    <div ng-repeat="asset in assets.assets" ng-click="assets.openAssetModal(asset)"
         class="row collapse last-transactions-content">
        <div class="small-1 columns text-center">
            <i class="icon-pricetag size-24" style="margin-top:8px;"></i>
            &nbsp;
        </div>
        <div class="small-4 columns">
            <div ng-if="!$root.updatingBalance">
                <span class="text-bold size-16">{{ asset.metadata.data.assetName }}</span>
            </div>
            <div class="ellipsis text-gray size-14">
                {{ asset.metadata.data.description }}
            </div>
        </div>
        <div class="small-2 columns">
          <span class="size-16">
            {{ asset.amount }} unit{{ asset.amount != 1 ? 's' : '' }}
          </span>
        </div>
        <div class="small-4 columns">
            <span class="size-14"><span translate>Issued by</span>: {{ asset.metadata.data.issuer }}</span>
        </div>
        <div class="small-1 columns text-right">
            <i class="icon-arrow-right3 size-18"></i>
        </div>
    </div>
</div>
<div class="extra-margin-bottom"></div>
